/* Typography */

body {
	font-size: medium;
}

@font-face {
    font-family: 'Myriad Pro Bold';
    src: url(../fonts/MyriadProBold/MyriadProBold.otf);
    src: url(../fonts/MyriadProBold/MyriadProBold.ttf);
    src: url(../fonts/MyriadProBold/MyriadProBold.woff);
}

@font-face {
    font-family: 'Myriad Pro Regular';
    src: url(../fonts/MyriadProRegular/MyriadProRegular.otf);
    src: url(../fonts/MyriadProRegular/MyriadProRegular.ttf);
    src: url(../fonts/MyriadProRegular/MyriadProRegular.woff);
}

/* End Typography*/

/* Layout*/

 html {
 	height: 100%
 }

@media (min-width:1200px) 
    {
        .container{max-width:990px;} /* Changes Bootstrap's max-width */
    }

header {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
}

/* Main Banner */
#main-banner {
	position: relative;
	padding-top: 52px;
	height: 500px;
	background: #e29791 url(../images/main-banner.jpg) no-repeat center center;
	background-size: cover;
	color: white;
    font-family: 'Rokkitt', serif;
    background-attachment: fixed; /* Creates Parallax effect*/
}

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    #main-banner {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 768px) {
	#main-banner {
	padding-top: 0;
}
}

#main-banner a {
	color: white
}

#main-banner a:hover {
	text-decoration: none;
}

#logo {
	display: inline-block;
	padding: 0;
}

@media screen and (max-width: 768px) {
	#logo {
	padding-top: 20px;
}
}

/* Navbar*/

header nav > ul {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 768px) {
	header nav > ul {
	padding-top: 20px;
}
}

header nav > ul > li {
	display: inline-block;
}

header nav > ul > li > a {
	margin: 0 12px;
	padding: 0;
	border-bottom: 1px solid transparent;
	transition: .3s
}

header nav > ul > li > a:hover {
	margin: 0 12px;
	padding: 0;
	border-bottom: 1px solid white;
}

header nav > ul > li:last-child > a {
	margin-right: 0;
}

header nav > ul > li a.active {
	color: #e74c3c!important;
	border-bottom: 1px solid transparent;
}

/* End Navbar*/

/* Banner Caption */

#action {
	position: relative;
}

#action > h1 {
	margin-top: 23%;
	padding-bottom: 5px;
	border-bottom: 1px solid white;
	font-size: 3.5em;
	word-spacing: -8px;
}

@media screen and (max-width: 425px) {
	#action > h1 {
	margin-top: 0;
}
}

#main-banner h2 {
    font-family: 'Quicksand', sans-serif;
    padding-top: 0.7em;
    letter-spacing: 1px;
    font-size: 1.3em;
}


/* End Banner Caption*/

/* Buttons */

.red-btn {
	display: inline-block;
	color: white;
	background: #e74c3c;
	border-radius: 0;
	text-transform: uppercase;
	font-family: 'Rokkitt', serif;
	font-size: 1.35em;
}

.red-btn:hover {
	background: #da3423;
}

a.red-btn:hover { /* Makes link button's text white*/
	color: white;
	text-decoration: none;
}

/* Banner button*/

#banner-btn {
	position: absolute;
	left: 41.59%;
	bottom: -29px;
	padding: 8px 52px;
	border: 6px solid rgba(231, 76, 60, .65);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	transition: .3s;
}

@media screen and (min-width: 2560px) {
	#banner-btn {
	left: 46%;
}
}

@media screen and (max-width: 1024px) {
	#banner-btn {
	left: 38%;
}
}

@media screen and (max-width: 768px) {
	#banner-btn {
	left: 35%;
}
}

@media screen and (max-width: 425px) {
	#banner-btn {
	left: 22%;
}
}

@media screen and (max-width: 375px) {
	#banner-btn {
	left: 19%;
}
}

@media screen and (max-width: 320px) {
	#banner-btn {
	left: 14%;
}
}

/* End Banner button*/

/* Gallery Button*/

#gallery-btn {
	margin-top: 0px;
	padding: 12px 63px 12px 32px;
	background: #e74c3c url(../images/arrow.png) no-repeat 90% center;
}

/* End Gallery Button*/

/* End Buttons*/

/* End Main Banner*/

/* Main Content*/

/* Intro section */

#intro {
	padding-top: 147px;
	padding-bottom: 50px;
	font-family: 'Myriad Pro Regular';
	font-size: 1.1em;
	color: #95a5a6;
	text-align: center;
	border-bottom: 1px solid #e4e8e8;
}

@media screen and (max-width: 768px) {
	#intro {
		padding-top: 50px;
	}
}

main h3 {
	font-family: 'Myriad Pro Bold';
	color: red;
	font-size: 2.2em;
	padding-bottom: .8em;
}

#intro div:first-child article:first-child p { 
	padding: 0 10px;
	line-height: 1.6;
}

@media screen and (max-width: 768px) {
	#intro div:first-child article:first-child p { 
		padding: 0;
		text-align: justify;
	}
}

@media screen and (min-width: 1024px) {

	main .intro-item {
		margin-top: 55px;
	}

	main #intro .intro-item:first-child {
		padding-right: 60px;
	}

	main #intro .intro-item:nth-child(2) {
		padding: 0 40px;
	}

	main #intro .intro-item:last-child {
		padding-left: 60px;
	}

}   

main .intro-item h4 {
	font-family: 'Myriad Pro Bold';
	color: red;
	font-size: 1.2em;
	padding-bottom: .9em;
	padding: 1em;
}

main .intro-item p {
	font-size: .935em;
	padding: 0;
	text-align: justify;
}
/* End Intro section */

/* Gallery section*/

#gallery {
	padding: 65px 0;
	border-bottom: 1px solid #e4e8e8;
}

#gallery .img-container {
	padding: 10px 0;
	margin: 0 15px 40px 15px;

}

#gallery .img-fluid {
    width: 100%;
    height: auto;
}


.magnifier {
	opacity: 0;
	transition: opacity .6s ease-in;
	background: #e74c3c url(../images/magnifier.png) no-repeat center center;
	border: 6px solid rgba(142, 46, 36, 0.70);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	width: 60px;
	height: 60px;
	position: absolute;
	top: 8%;
	right: 8%;
	cursor: pointer;
}

.img-description {
	opacity: 0;
	transition: opacity .3s ease-in;
	position: absolute;
	bottom: 9px;
	width: 100%;
	color: white;
	background: #e74c3c;
	border-top: 5px solid #8e2e24;
	padding: 20px;
}

.img-description span:first-child {
	font-family: 'Rokkitt', serif;
	display: block;
	font-size: 1.5em;
}

.img-description span:last-child {
	font-family: 'Myriad Pro Regular', serif;
	color: #9d3b31;
}

.img-container:hover .magnifier,
.img-container:hover .img-description {
	opacity: 1;
}

/* End Gallery section*/

/* Contact section */

#contact h5 {
	font-family: 'Rokkitt', serif;
	color: #e74c3c;
	font-size: 3.5em;
	letter-spacing: -2px;
	margin: 60px;
}

@media screen and (max-width: 768px) {
	#contact h5 {
	margin: 40px;
	}
}

.form-control {
	font-family: 'Rokkitt', serif;
	background-color: #e4e8e8;
	color: #899199;
	border-radius: 0;
	padding: .9rem .79rem;
    font-size: 1.7rem;
    border: 1px solid transparent;
}

.form-control:focus {
	background-color: #f2f3f3;
	border-color: #a8a8a9;
}

/* End Contact section */

/* End Main Content */

/* Footer */

footer {
	min-height: 240px;
	background: #e74c3c;
	margin-top: 140px;
}

.social-nav {
	display: inline-block;
	border: 6px solid rgba(231, 76, 60, 0.6);;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	width: 95px;
	height: 95px;
	position: relative;
	top: -40px;
	cursor: pointer;
}

#twitter {
	background: white url(../images/twitter.png) no-repeat center center;
}

#dribbble {
	background: white url(../images/dribbble.png) no-repeat center center;
}

#facebook {
	background: white url(../images/facebook.png) no-repeat center center;
}

footer h6 {
	margin: 25px;
	font-family: 'Rokkitt', serif;
	color: white;
	font-size: 1.5em;
}
/* End Footer*/

/* End Layout*/

