/* Typography */

body {
	font-size: medium;
}

@font-face {
    font-family: 'Myriad Pro Cond Regular';
    src: url(../fonts/MyriadProCondRegular/MyriadProCondRegular.otf);
    src: url(../fonts/MyriadProCondRegular/MyriadProCondRegular.ttf);
    src: url(../fonts/MyriadProCondRegular/MyriadProCondRegular.woff);
}

@font-face {
    font-family: 'Myriad Pro Bold';
    src: url(../fonts/MyriadProBold/MyriadProBold.otf);
    src: url(../fonts/MyriadProBold/MyriadProBold.ttf);
    src: url(../fonts/MyriadProBold/MyriadProBold.woff);
}

@font-face {
    font-family: 'Myriad Pro Regular';
    src: url(../fonts/MyriadProRegular/MyriadProRegular.otf);
    src: url(../fonts/MyriadProRegular/MyriadProRegular.ttf);
    src: url(../fonts/MyriadProRegular/MyriadProRegular.woff);
}

/* End Typography*/

/* Layout*/


@media (min-width:1200px) 
    {
        .container{max-width:990px;} /* Changes Bootstrap's max-width */
    }

header {
    font-family: 'Mariad Pro Cond';
    text-transform: uppercase;
}

/* Main Banner */
#main-banner {
	position: relative;
	padding-top: 50px;
	height: 500px;
	background: #e29791 url(../images/main-banner.jpg) no-repeat center center;
	background-size: cover;
	color: white;
    font-family: 'Rokkitt', serif;
    background-attachment: fixed; /* Creates Parallax effect*/
}

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    #main-banner {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 768px) {
	#main-banner {
	padding-top: 0;
}
}

#main-banner a {
	color: white
}

#main-banner a:hover {
	text-decoration: none;
}

#logo {
	display: inline-block;
	padding: 0;
}

@media screen and (max-width: 768px) {
	#logo {
	padding-top: 20px;
}
}

/* Navbar*/

header nav > ul {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 768px) {
	header nav > ul {
	padding-top: 20px;
}
}

header nav > ul > li {
	display: inline-block;
}

header nav > ul > li > a {
	margin: 0 5px;
	padding: 0;
	border-bottom: 1px solid transparent;
	transition: .3s
}

header nav > ul > li > a:hover {
	margin: 0 5px;
	padding: 0;
	border-bottom: 1px solid white;
}

header nav > ul > li a.active {
	color: red!important;
	border-bottom: 1px solid transparent;
}

/* End Navbar*/

/* Banner Caption */

#action {
	position: relative;
}

#action > h1 {
	margin-top: 23%;
	padding-bottom: 5px;
	border-bottom: 1px solid white;
	font-size: 3.5em;
	word-spacing: -8px;
}

@media screen and (max-width: 425px) {
	#action > h1 {
	margin-top: 0;
}
}

#main-banner h2 {
    font-family: 'Quicksand', sans-serif;
    padding-top: 0.7em;
    letter-spacing: 1px;
    font-size: 1.3em;
}


/* End Banner Caption*/

/* Banner button*/


#banner-btn {
	position: absolute;
	left: 41.59%;
	bottom: -29px;
	background: #e74c3c;
	padding: 8px 52px;
	border: 6px solid rgba(231, 76, 60, .65);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	transition: .3s;
	text-transform: uppercase;
	font-size: 1.35em;
}

#banner-btn:hover {
	background: #da3423;
	border: 6px solid rgba(231, 76, 60, .65);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	text-transform: uppercase;
}

@media screen and (min-width: 2560px) {
	#banner-btn {
	left: 46%;
}
}

@media screen and (max-width: 1024px) {
	#banner-btn {
	left: 38%;
}
}

@media screen and (max-width: 768px) {
	#banner-btn {
	left: 35%;
}
}

@media screen and (max-width: 425px) {
	#banner-btn {
	left: 22%;
}
}

@media screen and (max-width: 375px) {
	#banner-btn {
	left: 19%;
}
}

@media screen and (max-width: 320px) {
	#banner-btn {
	left: 14%;
}
}

/* End Banner button*/

/* End Main Banner*/

/* Main Content*/

#intro {
	padding-top: 147px;
	font-family: 'Myriad Pro Regular';
	font-size: 1.1em;
	color: #95a5a6;
	text-align: center;
}

@media screen and (max-width: 768px) {
	#intro {
		padding-top: 50px;
	}
}

main h3 {
	font-family: 'Myriad Pro Bold';
	color: red;
	font-size: 2.2em;
	padding-bottom: .9em;
}

article:first-child p { /* selects the first article in the intro section*/
	padding: 0 90px;
}

@media screen and (max-width: 768px) {
	article:first-child p { /* selects the first article in the intro section*/
		padding: 0;
		text-align: justify;
	}
}

main .intro-item h4 {
	font-family: 'Myriad Pro Bold';
	color: red;
	font-size: 1.2em;
	padding-bottom: .9em;
}

main .intro-item p {
	font-size: .9em;
	padding: 0;
	text-align: justify;
}


/* End Main Content */

/* End Layout*/

